Celery==5.1.2  # https://docs.celeryproject.org
flake8==4.0.1  # https://github.com/PyCQA/flake8
flake8-isort==4.1.1  # https://github.com/gforcada/flake8-isort
ipython==7.28.0  # https://ipython.org/
Scrapy==2.5.1  # https://docs.scrapy.org/en/latest/#
redis==3.5.3  # https://github.com/antirez/redis
flower==1.0.0  # https://github.com/mher/flower
kombu==5.2.0  # https://github.com/celery/kombu
pymongo==3.12.1  # https://pymongo.readthedocs.io/en/stable/
watchgod==0.6  # https://github.com/samuelcolvin/watchgod